.hd {
    width: 90vw;
    height: 80px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    align-items: center;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    z-index: 100;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.header__active {
    opacity: 0;
    transform: translateX(-50%) translateY(-100px);
}

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* gap: 50px; */
    cursor: pointer;
}

.nav .logo {
    width: 240px;
    height: 160px;
    /* background-image: url(/SITB/src/img/logo/NHN.png); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: red; */
    /* margin-left: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow: 1px 1px 1px rgba(92, 92, 92, 0.726); */
}

.nav .menu {
    width: 40%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: white;
    position: relative;
    padding-right: 15px;
}

.nav .menu svg:hover {
    color: rgb(0, 0, 0);
    src: url(../src/img/logo/logo.jpg);
}
.nav .menu a:hover {
    color: black;
}

.nav .menu a::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: 3px;
    opacity: 0;
    transition: opacity 0.1s;
}
.menu a:hover::after {
    opacity: 1;
}

.hd .menu a.active::after {
    opacity: 1;
}

.menu a.active {
    font-weight: bold;
    color: black;
}
.hd:has(.menu a:hover) .menu a {
    color: black;
}
.hd:has(.menu a:hover) .nav > svg path {
    fill: rgb(0, 0, 0);
}

.sub__page .hd .menu a {
    color: black;
}

.sub__page .hd .nav > svg path {
    fill: black;
}

@media (max-width: 480px) {
    .hd {
        width: 100vw;
        height: 60px;
        transform: translateX(-50%);
        padding: 0 10px;
        justify-content: space-between;
    }

    .nav {
        width: 100%;
        height: 60px;
        font-size: 14px;
        gap: 15px;
        padding: 0 10px;
    }

    .nav .logo {
        width: 120px;
        height: 40px;
        background-size: contain;
        background-position: center;
    }

    .nav .menu {
        width: auto;
        height: 60px;
        font-size: 14px;
        gap: 15px;
        overflow-x: auto; /* 화면 넘치면 스크롤 가능 */
    }

    .nav a {
        padding-right: 8px;
    }

    .nav a::after {
        width: 4px;
        height: 4px;
        top: -2px;
        right: 2px;
    }
}
