.section1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Pretendard", sans-serif;
}

/* ===== [Element] 슬라이드 영역 ===== */
.section1__slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.section1__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.section1__slide--active {
  opacity: 1;
  z-index: 2;
}

.section1__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== [Element] 텍스트 ===== */
.section1__text {
  position: absolute;
  left: 150px;
  bottom: 200px;
  color: #fff;
  z-index: 3;
  text-shadow: 10px 10px 30px rgba(12, 11, 11, 0.45);
  transform: translateY(50px);
  animation: section1-txtUp 1.5s ease-out forwards;
  font-weight: 500;
}

.section1__label {
  font-size: 20px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.section1__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #fff;
  font-size: 16px;
  color: black;
}

.section1__title {
  font-size: 55px;
  line-height: 70px;
}

/* ===== [Element] 컨트롤러 ===== */
.section1__control {
  position: absolute;
  left: 300px;
  bottom: 130px;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  z-index: 3;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

.section1__progress {
  width: 100px;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 999px;
  position: relative;
}

.section1__bar {
  position: absolute;
  height: 100%;
  background: white;
  width: 0%;
}

.section1__count {
  font-weight: 600;
}

.section1__buttons {
  display: flex;
  gap: 10px;
  font-size: 27px;
}

.section1__btn {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.section1__btn:hover {
  background: rgba(161, 159, 159, 0.5);
}

@keyframes section1-txtUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
